In [127]:
# Importing the dependancies:

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import csv

In [128]:
# store the filepath(s) into variables  (for each of the two csv files, city_data & ride_data):

city_data_file = "raw_data/city_data.csv"
ride_data_file = "raw_data/ride_data.csv"

In [129]:
# Pull in & Read our FIRST CSV data file with pandas:

#Check the data for city_data & create a dataframe (header):
city_data_df = pd.read_csv(city_data_file)

In [130]:
# Pull in & Read our SECOND CSV data files with pandas:

#Check the data for ride_data & create a dataframe (header):
ride_data_df = pd.read_csv(ride_data_file)

In [131]:
#Now merging the two-- so it looks like the example df given!:
# Used an outer merge to get all the columns.....

merge_table_df = pd.merge(city_data_df, ride_data_df, on="city", how="outer")
merge_table_df

,city,driver_count,type,date,fare,ride_id
0,Kelseyland,63,Urban,2016-08-19 04:27:52,5.51,6246006544795
1,Kelseyland,63,Urban,2016-04-17 06:59:50,5.54,7466473222333
2,Kelseyland,63,Urban,2016-05-04 15:06:07,30.54,2140501382736
3,Kelseyland,63,Urban,2016-01-25 20:44:56,12.08,1896987891309
4,Kelseyland,63,Urban,2016-08-09 18:19:47,17.91,8784212854829
5,Kelseyland,63,Urban,2016-10-24 15:15:46,33.56,4797969661996
6,Kelseyland,63,Urban,2016-06-06 13:54:23,20.81,9811478565448
7,Kelseyland,63,Urban,2016-08-10 07:02:40,44.53,1563171128434
8,Kelseyland,63,Urban,2016-07-05 17:37:13,29.02,6897992353955
9,Kelseyland,63,Urban,2016-04-25 02:18:31,20.05,1148374505062
10,Kelseyland,63,Urban,2016-01-25 08:47:09,9.29,213692794373
11,Kelseyland,63,Urban,2016-11-10 01:57:14,20.58,3395682132130
12,Kelseyland,63,Urban,2016-08-15 11:55:02,27.45,8456148871668
13,Kelseyland,63,Urban,2016-08-01 10:51:49,33.51,6610565660737
14,Kelseyland,63,Urban,2016-04-13 12:07:08,6.56,8101498434215
15,Kelseyland,63,Urban,2016-01-12 22:51:21,20.19,3054122642867
16,Kelseyland,63,Urban,2016-05-31 01:05:31,35.22,5946467060438
17,Kelseyland,63,Urban,2016-07-13 16:53:07,10.31,2180910323678
18,Kelseyland,63,Urban,2016-01-07 07:15:41,11.45,600800386573
19,Kelseyland,63,Urban,2016-04-09 13:17:27,27.85,5748868894243
20,Kelseyland,63,Urban,2016-06-30 01:59:04,8.27,4384089549855
21,Kelseyland,63,Urban,2016-04-20 05:36:59,31.67,2865704421982
22,Kelseyland,63,Urban,2016-05-02 05:55:28,40.92,2769007541388
23,Kelseyland,63,Urban,2016-06-22 06:54:57,12.58,6629798205387
24,Kelseyland,63,Urban,2016-06-18 06:03:03,16.77,7223504701591
25,Kelseyland,63,Urban,2016-01-09 20:28:56,27.21,831362906446
26,Kelseyland,63,Urban,2016-07-22 19:28:21,35.71,1234880130185
27,Kelseyland,63,Urban,2016-11-26 02:34:57,15.49,5187807155760
28,Nguyenbury,8,Urban,2016-07-09 04:42:44,6.28,1543057793673
29,Nguyenbury,8,Urban,2016-11-08 19:22:04,19.49,1702803950740
...,...,...,...,...,...,...
2377,East Leslie,9,Rural,2016-04-13 04:30:56,40.47,7075058703398
2378,East Leslie,9,Rural,2016-04-26 02:34:30,45.80,9402873395510
2379,East Leslie,9,Rural,2016-04-05 18:53:16,44.78,6113138249150
2380,East Leslie,9,Rural,2016-11-13 10:21:10,15.71,7275986542384
2381,East Leslie,9,Rural,2016-03-06 06:10:40,51.32,6841691147797
2382,East Leslie,9,Rural,2016-03-04 10:18:03,13.43,8814831098684
2383,East Leslie,9,Rural,2016-11-28 09:09:15,37.76,804829686137
2384,East Leslie,9,Rural,2016-09-08 19:19:38,30.59,8211833105097
2385,East Leslie,9,Rural,2016-03-02 22:09:34,36.61,5500269118478
2386,East Leslie,9,Rural,2016-06-22 07:45:30,34.54,684950063164
2387,Hernandezshire,10,Rural,2016-02-20 08:17:32,58.95,3176534714830
2388,Hernandezshire,10,Rural,2016-06-26 20:11:50,28.78,6382848462030
2389,Hernandezshire,10,Rural,2016-01-24 00:21:35,30.32,7342649945759
2390,Hernandezshire,10,Rural,2016-03-05 10:40:16,23.35,7443355895137
2391,Hernandezshire,10,Rural,2016-04-11 04:44:50,10.41,9823290002445
2392,Hernandezshire,10,Rural,2016-06-26 11:16:28,26.29,304182959218
2393,Hernandezshire,10,Rural,2016-11-25 20:34:14,38.45,2898512024847
2394,Hernandezshire,10,Rural,2016-11-20 17:32:37,26.79,3095402154397
2395,Hernandezshire,10,Rural,2016-02-24 17:30:44,44.68,6389115653382
2396,Horneland,8,Rural,2016-07-19 10:07:33,12.63,8214498891817
2397,Horneland,8,Rural,2016-03-22 21:22:20,31.53,1797785685674
2398,Horneland,8,Rural,2016-01-26 09:38:17,21.73,5665544449606
2399,Horneland,8,Rural,2016-03-25 02:05:42,20.04,5729327140644
2400,West Kevintown,5,Rural,2016-11-27 20:12:58,12.92,6460741616450
2401,West Kevintown,5,Rural,2016-02-19 01:42:58,11.15,8622534016726
2402,West Kevintown,5,Rural,2016-03-11 09:03:43,42.13,4568909568268
2403,West Kevintown,5,Rural,2016-06-25 08:04:12,24.53,8188407925972
2404,West Kevintown,5,Rural,2016-07-24 13:41:23,11.78,2001192693573
2405,West Kevintown,5,Rural,2016-06-15 19:53:16,13.50,9577921579881
2406,West Kevintown,5,Rural,2016-02-10 00:50:04,34.69,9595491362610

fare_by_city_df = merge_table_df.groupby(['city','fare'])
sum_it_up = fare_by_city.sum()
sum_it_up

In [126]:
merge_table_df.mean()

                      driver_count       fare       ride_id
city
Alvarezhaven                  21.0  23.928710  5.351586e+12
Alyssaberg                    67.0  20.609615  3.536678e+12
Anitamouth                    16.0  37.315556  4.195870e+12
Antoniomouth                  21.0  23.625000  5.086800e+12
Aprilchester                  49.0  21.981579  4.574788e+12
Arnoldview                    41.0  25.106452  5.021952e+12
Campbellport                  26.0  33.711333  5.805424e+12
Carrollbury                    4.0  36.606000  4.274615e+12
Carrollfort                   55.0  25.395517  4.759008e+12
Clarkstad                     21.0  31.051667  6.682745e+12
Conwaymouth                   18.0  34.591818  4.391649e+12
Davidtown                     73.0  22.978095  5.850005e+12
Davistown                     25.0  21.497200  4.361977e+12
East Cherylfurt                9.0  31.416154  3.981187e+12
East Douglas                  12.0  26.169091  4.732315e+12
East Erin                     43.0  24.478214  5.226259e+12
East Jenniferchester          22.0  32.599474  5.933107e+12
East Leslie                    9.0  33.660909  6.051052e+12
East Stephen                   6.0  39.053000  5.306327e+12
East Troybury                  3.0  33.244286  5.948234e+12
Edwardsbury                   11.0  26.876667  5.296117e+12
Erikport                       3.0  30.043750  6.883015e+12
Eriktown                      15.0  25.478947  4.113171e+12
Floresberg                     7.0  32.310000  2.630319e+12
Fosterside                    69.0  23.034583  5.101131e+12
Hernandezshire                10.0  32.002222  5.206210e+12
Horneland                      8.0  21.482500  5.351789e+12
Jacksonfort                    6.0  32.006667  4.610855e+12
Jacobfort                     52.0  24.779355  4.099091e+12
Jasonfort                     25.0  27.831667  6.439182e+12
...                            ...        ...           ...
South Roy                     35.0  26.031364  4.862249e+12
South Shannonborough           9.0  26.516667  4.824875e+12
Spencertown                   68.0  23.681154  4.850559e+12
Stevensport                    6.0  31.948000  3.125721e+12
Stewartview                   49.0  21.614000  4.936695e+12
Swansonbury                   64.0  27.464706  4.443028e+12
Thomastown                     1.0  30.308333  4.525633e+12
Tiffanyton                    21.0  28.510000  4.968458e+12
Torresshire                   70.0  24.207308  5.117907e+12
Travisville                   37.0  27.220870  3.317507e+12
Vickimouth                    13.0  21.474667  4.242738e+12
Webstertown                   26.0  29.721250  4.401465e+12
West Alexis                   47.0  19.523000  5.133766e+12
West Brandy                   12.0  24.157667  4.673435e+12
West Brittanyton               9.0  25.436250  5.796976e+12
West Dawnfurt                 34.0  22.330345  5.119541e+12
West Evan                      4.0  27.013333  5.445616e+12
West Jefferyfurt              65.0  21.072857  3.614437e+12
West Kevintown                 5.0  21.528571  7.002171e+12
West Oscar                    11.0  24.280000  4.525743e+12
West Pamelaborough            27.0  33.799286  4.081521e+12
West Paulport                  5.0  33.278235  4.895520e+12
West Peter                    61.0  24.875484  4.630766e+12
West Sydneyhaven              70.0  22.368333  4.432234e+12
West Tony                     17.0  29.609474  5.080147e+12
Williamchester                26.0  34.278182  5.679295e+12
Williamshire                  70.0  26.990323  4.937704e+12
Wiseborough                   55.0  22.676842  6.046575e+12
Yolandafurt                    7.0  27.205500  4.870867e+12
Zimmermanmouth                45.0  28.301667  4.618734e+12

[125 rows x 3 columns]